html{
	width: 100vw;
}
body{
    margin: 0;
    padding: 0;
	font-family: Flama-Basic;
	width: 100vw;
}
h1,h2,h3,h4{
	font-family: Flama-Semi;
}
a{
	display: block;
	color: white;
	text-decoration: none; /* no underline */
}
@font-face{
	font-family: Flama-Basic;
	src: url(./font/Flama-Basic.otf);
}
@font-face{
	font-family: Flama-Semi;
	src: url(./font/Flama-Semibold.otf);
}
.wraper.active{
	display: inline;
	background-color: white;
	z-index: 2;
}
.wraper{
	display: none;
	width: 100vw;
	background-color: white;
}
.menu{
	width: 100vw;
	height: 10vh;
	background-color:white;
	position: fixed;
	box-shadow: 0px 0px 10px black;
}
.logo{
	width: 150px;
	height: 9vh;
	margin: 0 auto;
	margin-top: 2vh;
	background-image: url(../images/e-biz\ lab\ breit\ RGB.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.header_webshop{
	width: 100vw;
	height: 40vh;
	position: absolute;
	top: 10vh;
	background-image: url(../images/Laptop+Bild.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.header_workflow{
	width: 100vw;
	height: 40vh;
	position: absolute;
	top: 10vh;
	background-image: url(../images/workflow_header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.header_homepage{
	width: 100vw;
	height: 40vh;
	position: absolute;
	top: 10vh;
	overflow: hidden;
}
.welcome{
	width: 100vw;
	height: 20vh;
	position: absolute;
	top: 50vh;
	padding-top: 20px;
	padding-bottom: 20px;
}
.secondtext{
	width: 100vw;
	height: 20vh;
	position: absolute;
	top: 160vh;
	padding-top: 20px;
	padding-bottom: 20px;
}
.thirdtext{
	width: 100vw;
	height: 20vh;
	position: absolute;
	top: 220vh;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer{
	width: 100vw;
	height: 10vh;
	background-image: url(../images/1200px-Logo-Hochschule-RheinMain.svg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	position: absolute;
	top: 300vh;
	box-shadow: 0px 0px 10px black;
}
.footer_homepage{
	width: 100vw;
	height: 10vh;
	background-image: url(../images/1200px-Logo-Hochschule-RheinMain.svg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	position: absolute;
	top: 120vh;
	box-shadow: 0px 0px 10px black;
}
.secondtext p, h1{
	text-align: center;
	color: black;
}
.secondtext p{
	font-size: 1.3em; 
}
p, h1,h2,h3,h4{
	text-align: center;
	color: black;
}

.welcome p{
	font-size: 1.3em; 
	width: 90%;
	margin: 0 auto;
}
.icon_workflow{
	height: 70px;
	width: 70px;
	margin: 0 auto;
	background-image: url(../images/icon_workflow.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.icon_webshop{
	height: 70px;
	width: 70px;
	margin: 0 auto;
	background-image: url(../images/icon_webshop.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.icon_homepage{
	height: 70px;
	width: 70px;
	margin: 0 auto;
	background-image: url(../images/icon_homepage.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.avatar_eine{
	height: 150px;
	width: 150px;
	margin: 40px auto;
	background-image: url(../images/bastian_eine-01.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.avatar_eiser{
	height: 150px;
	width: 150px;
	margin: 40px auto;
	background-image: url(../images/46489622_575208332928822_924450238259789824_n.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
hr{
	background-color: black;
	height: 1px;
	width: 90vw;
}
.pfeil{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 92vh;
	background-image: url(../images/pfeil.png);
	background-repeat: no-repeat;
	margin-left: 45vw;
	animation: bounce 3s infinite;
}
.lds-ripple {
	display: inline-block;
	position: fixed;
	margin: 0 auto;
	width: 75%;
	position: fixed;
	left: 50%;
	margin-left: -37.5%;
	top: 50vh;
	left: 80vw;
	width: 30px;
	height: 30px;
  }
  .lds-ripple div {
	position: absolute;
	border: 4px solid rgb(150, 191, 50); 
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
	0% {
	  top: 28px;
	  left: 28px;
	  width: 0;
	  height: 0;
	  opacity: 1;
	}
	100% {
	  top: -1px;
	  left: -1px;
	  width: 58px;
	  height: 58px;
	  opacity: 0;
	}
  }
.spinner_text{
	position: absolute;
	top: 60vh;
	left: 25vw;
}
.linkbox{
	width: 100vw;
	height: 50vh;
	position: absolute;
	top: 100vh;
}
.install{
	width: 100%;
	height: 50%;
	background-color: rgb(150, 191, 50); 
	text-align: center;
}
.backend, .frontend{
	width: 50%;
	height: 50%;
	background-color: green;
	float: left;
}
.hsrm{
	height: 12vh;
	margin-left: 20vw;
	width: 100%;
	background-image: url(../images/1200px-Logo-Hochschule-RheinMain.svg.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 85vh;
}
.backend{
	background-color: rgb(106, 193, 190); 
}
.frontend{
	background-color: rgb(44,130,194); 
}
.kastenschrift{
	color: white;
	font-size: 1.3em;
	text-align: center;
	vertical-align: middle;
	line-height: 20vh; 
}
@keyframes bounce{
	0%{top: 91vh}
	50%{top: 92vh}
	100%{top: 91vh}
}

@media only screen and (min-device-width: 1000px) {
/*	EVTL Weboptimierung wenn benötigt*/
}

/* slideshow */


/* Slideshow container */


/* Hide the images by default */
.mySlides {
  display: none;
	width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

img{
	width: 100vw;
}