<?xml version='1.0' encoding='utf-8'?>
<widget
   id="com.evothings.accelerometer-demo"
   version="0.0.1"   
   xmlns="http://www.w3.org/ns/widgets"
   xmlns:gap="http://phonegap.com/ns/1.0">

<name>HSRM E-Biz Lab</name>
<description> Eine App für das E-Business</description>
<author email="m14279@googlemail.com" href="http://evothings.com"> Webb S Murph </author>
<content src="index.html" />

<plugin spec="https://github.com/evothings/cordova-eddystone" source="git"/>
<icon src="www/images/logo.png"/>
<access origin="*" /> <allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />

<platform name="android">
   <allow-intent href="market:*" />
   <allow-intent href="tel:*" />
<allow-intent href="sms:*" />
<allow-intent href="mailto:*" />
<allow-intent href="geo:*" />
</platform>

<platform name="ios">
   <allow-intent href="itms:*" />
   <allow-intent href="itms-apps:*" />
   <allow-intent href="tel:*" />
<allow-intent href="sms:*" />
<allow-intent href="mailto:*" />
<allow-intent href="geo:*" />
</platform>
</widget>