/* Make text bigger. */
body {
    font-size: 175%;
    }

/* Make buttons bigger. */
button {
    font-size: 100%;
    padding: 10%;
    }
body{
}
.A{
    display: none;
}
.B{
    display: none;
}
.A.active{
    display: block;
    position: absolute;
}
.B.active{
    display: block;
    position: absolute;
}